.view_item{
    height: 84vh;
    overflow-y: scroll;
}
.view_item::-webkit-scrollbar {
    display: block;
    width: 5px;
}

.view_item::-webkit-scrollbar-track {
    background: transparent;
}

.view_item::-webkit-scrollbar-thumb {
    background-color: #ecf0f1;
    border-right: none;
    border-left: none;
}
.item_schedule {
    float: left;
    display: block;
    border: 1px solid rgb(146, 222, 222);
    box-sizing: border-box;
    /* box-shadow: 4.87179px 4.87179px 4.87179px rgb(146, 222, 222); */
    border-radius: 16px;
    width: 25vw;
    /* min-height: auto; */
    /* min-height: 30vh; */
    margin-left: 4vh;
    margin-top: 2vh;
    cursor: pointer;

}

.card_add{
    float: left;
    display: block;
    /* border: 1.21795px solid #E5E5E5;
    box-sizing: border-box;
    box-shadow: 4.87179px 4.87179px 4.87179px rgba(0, 0, 0, 0.25);
    border-radius: 9.74359px; */
    width: 25vw;
    height: 30vh;
    cursor: pointer;
}
.card {
    /* background-color: rgb(146, 222, 222); */
    min-height: 30vh;
    padding: 10px;

}
.card .card-header {
    /* width: 98%; */
    /* background-color: rgb(146, 222, 222); */
    /* color: #13313D; */
    padding: 2px;
    border: none;
    margin: 0;
    background-color: white;
}


.name-greenhouse h5{
    font-size: 19px;
    font-weight: 600;
    font-family: 'Roboto';
    color: #295F2D;
}
.icon-btn{
    height: 15px;
    width: 15px;
}
.card-body{
    display: flex;
    padding: 0;
}

.icon-home{
    height: 75px;
    margin: 6px 10px 10px 10px;
}
.card-body-infor{
    margin-left: 40px;
    margin-bottom: 0px;
    padding: 0px;
}
.red-text{
    color: rgb(255, 42, 42);
    font-size: 19px;
    font-weight: 900;
    padding-left: 0px;
}
.black-text{
    font-size: 19px;
    font-weight: 900;
    padding-left: 20px;
}
.new{
    width: 100%;
    height: 16.5vh;
    text-align: center;
    align-items: center;
    padding-top:8vh;
    cursor: pointer;
}

.add-icon {
    font-size: 80px;
    color: #D1D1D1;
}
.name-icon{

    font-size:25px;
    color: #D1D1D1;
}

.battery {
    font-size: 20px;
    padding-left: 30px;
}

.battery i {
    color: #27ae60;
}

.icon-btn{
    height: 15px;
    width: 15px;
}
#delete_greenhouse{
  
    align-items: center;
    cursor: pointer;
}.card-updatetime{
    font-family:'Montserrat';
    font-style: italic;
    letter-spacing: 0.5px;
    color: #28A745;
}
.card-createtime{
    font-family:'Montserrat';
    font-style: medium;
    letter-spacing: 0.5px;
    color: #DC3545;
}
.card .status{
    font-family:'Montserrat';
    font-style: medium italic;
    letter-spacing: 0.5px;
    color: #D1D1D1;
}

