
.slide-house{
    padding-left: 2vw;
    font-size: 23px;

}

/* ----------------------------- new css--------------------------------------------------------- */
.row_old{
    background-color: #E3F6F5;
}
.head_table{
    background-color: #B8E6E6;
    width: 100%;
    height: 65px;
    font-weight: bold;
    padding-left: 20px;
    /* padding-top: 9px; */
    display: flex;
    align-content: center;
    align-items: center;
    font-size: x-large;
    position: sticky;
    top: 0;
}

.table-container{
    width: 95%;
    margin: 25px 2.5% 0px 2.5%;
    position: relative;
}

.table_TK{
    width: 100%;
    /* padding-left: 5%; */
    /* padding-right: 5%; */
    /* font-family: cursive, Helvetica, sans-serif; */
    /* border: 1px solid #272643; */
    /* box-shadow: 0px 5px 5px rgb(0 0 0 / 0.15); */

}
.table_TK, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    border-color: #e3e6f0;
}
.table-header{
    height: 50px;
    border: 1.35px solid #E4E4E7;
    text-align: center;
    /* margin-bottom: 30px; */
    width: calc( 100% - 1em );
    position: sticky;
    top: 0;
    background-color: #FFFFFF;
    z-index: 100;
}

.table-body{
    table-layout: fixed;
    display: table;
    width: 100%;
    max-height: calc(100vh - 200px);
    display: block;
    overflow: scroll;
}

/* .table-body::-webkit-scrollbar {
    display: block;
    width: 5px;
}

.table-body::-webkit-scrollbar-track {
    background: transparent;
}

.table-body::-webkit-scrollbar-thumb {
    background-color: #ecf0f1;
    border-right: none;
    border-left: none;
} */

.table-row{ 
    table-layout: fixed;
    display: table;
    width: 100%;
    height: 50px;
    border: 1.35px solid #E4E4E7;
    text-align: center;
}

.table-row:hover{
    background: #B8E6E6;

}

.table-old-row{
    background: #E3F6F5;
}

.table-row-break{
    height: 5px;
    position: absolute;
    top: 100px;
    background-color: #FFFFFF;
    z-index: 100;
}

.btn-add-account{
    width: 250px;
    height: 40px;
    float: right;
    border-radius: 6px;
    margin: 17px 5% 0px 0px;
    border: none;
    background: #2C698D;
    color: white;
    cursor: pointer;
}

.icon-btn{
    width:15px;
}
.input_user {
    text-align: center;
}


.input_user span {
    font-weight: 500;
    font-size: 16px;
    padding-top: 5px;
}

.input_user input {
    border: 1.21795px solid #E6E6E6;
    box-sizing: border-box;
    border-radius: 4.87179px;
    font-weight: 500;
    height: 35px;
    outline: 0;
    /* border: none; */
    padding: auto;
 
}

.input_user input:hover{
    border-bottom: 1px solid #3498db;
    border-radius: 0;
}

.input_user ul li {
    width: 36px;
    height: 36px;
    border-radius: 18px;
    border: 1px solid;
    text-align: center;
    margin-right: 20px;
    cursor: pointer;
    justify-content: center;
    padding-top: 5px;
}

.input_user ul li:hover {
    background-color: #3498db;
    color: white;
}

.input_user select {
    border: 1.21795px solid #E6E6E6;
    box-sizing: border-box;
    border-radius: 4.87179px;
    height: 30px;
    width: 100%;
    /* border: none; */
    border-bottom: whitesmoke;
}

.cell-stt{
    width: 6%;
    color: #858796;
    font-family: 'Nunito';
}
.cell-ava{
    width: 6%;
    color: #858796;
    font-family: 'Nunito';
}

.cell-fullname{
    width: 27%;
    color: #858796;
    font-family: 'Nunito';
}
.cell-username{
    width: 23%;
    color: #858796;
    font-family: 'Nunito';
}
.cell-type{
    width: 14%;
    color: #858796;
    font-family: 'Nunito';
}
.cell-greenhouse{
    width: 14%;
    color: #858796;
    font-family: 'Nunito';
}
.cell-detail{
   
    color: #858796;
    font-family: 'Nunito';
}

.avatarIcon{
    height: 30px;
    width: 30px;
    border-radius: 50%;
    border: 1px solid pink;
}
.fa-edit:before, .fa-pen-to-square:before {
    content: "\f044";
    padding-right: 5px;
}
.fa-trash-alt:before, .fa-trash-can:before {
    content: "\f2ed";
    padding-left: 5px;
}

.modal .modal-content {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 60%;
    pointer-events: auto;
    background-color: #fff;
    background-clip: padding-box;
    border: 1pxsolidrgba(0,0,0,.2);
    border-radius: 0.3rem;
    outline: 0;
    margin: auto;
}
.modal .h5, h5 {
    font-size: 1.25rem;
    margin: 0 auto;

}